{{#each clips as |clip|}}
<a href="{{clip.url}}">
    <div class="col">
        {{#if my_title}}{{clip.my_title}}{{/if}}<br>
        <img src="{{clip.thumbnail_url}}" class="img-fluid img-thumbnail"><br>
        {{clip.title}} from {{clip.broadcaster_name}}
    </div>
</a>
{{/each}}